<!-- partial:partials/_footer.html -->
<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Desarrollado por <a href="mailto:erick.osorio@@hotmail.com" target="_blank">Erick Osorio Sanchez</a></span>
        <span class="float-none float-sm-end d-block mt-1 mt-sm-0 text-center">Copyright © 2025. Todos los derechos reservados.</span>
    </div>
</footer>
<!-- partial -->